@import "colores";
@import "header";
@import "footer";

/* reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

main {
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: $color-azul;
}

body {
    position: relative;
    min-height: 100vh;
}

$vista: desktop;

@if $vista ==desktop {
    @media only screen and (min-width:768px) {
        h1 {
            font-size: 11vh
        }

    }
}

/* INDEX */

.index__main {
    padding-top: 0;
}

/* SECCION 4  */

$ligas: (
    ligainglesa: solid,
    ligafrancesa: dotted,
    superrugby: double
);


@each $liga,
$borde in $ligas {
    .#{$liga} {
        border-style: $borde;
    }
}

.seccion4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .seccion4__grilla {
        width: 95%;
        display: grid;
        grid-template-areas:
            "ligainglesa superrugby"
            "ligafrancesa superrugby";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 20vw);
        margin-top: 6vh;
        margin-bottom: 5vh;
        align-content: center;
        justify-content: center;
        gap: 20px;

        .ligainglesa {
            border-width: 3px;
            border-color: $color-claro;
            overflow: hidden;
            grid-area: ligainglesa;

            .seccion4__imagen {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s all ease-in-out;

                &:hover {
                    width: 104%;
                    height: 104%;
                }
            }
        }

        .ligafrancesa {
            border-width: 3px;
            border-color: $color-claro;
            overflow: hidden;
            grid-area: ligafrancesa;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s all ease-in-out;

                &:hover {
                    width: 104%;
                    height: 104%;
                }
            }
        }

        .superrugby {
            border-width: 3px;
            border-color: $color-claro;
            overflow: hidden;
            grid-area: superrugby;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s all ease-in-out;

                &:hover {
                    width: 104%;
                    height: 104%;
                }
            }
        }
    }
}

/* SECCION 2 */

$estilos: (
    tamano: 1rem,
    grosor: 300,
    color: white,
);

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;


    article {
        display: flex;
        justify-content: center;
        padding-bottom: 2vh;

        .seccion2__titulo {
            width: 50%;
            float: left;
            font-weight: 700;
            color: $color-claro;
            line-height: 1.1;
            text-transform: uppercase;
        }

        p {
            font-size: map-get($estilos, tamano);
            font-weight: map-get($estilos, grosor);
            color: map-get($estilos, color);
            font-family: 'open sans', sans-serif;
            text-align: justify;
            width: 45%;
            float: right;
        }
    }

    .seccion2__fondo {
        width: 100%;

        img {
            width: 100%;
        }
    }
}


@mixin tituloenseccion3 ($alineacion, $grosor) {
    text-align: $alineacion;
    font-weight: $grosor;
}

.seccion3__titulo {
    @include tituloenseccion3 (center, 700);

}


.seccion3 {
    background-color: $color-azul;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 4vh;

    .seccion3__titulo {
        font-size: 11vh;
        color: $color-claro;
        text-transform: uppercase;
    }

    .seccion3__contenedor {
        width: 95%;
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;

        .seccion3__disenos {
            position: relative;
            overflow: hidden;
            width: 22vw;

            .seccion3__disenos__frente {
                transition: 1s all ease-in-out;
                position: relative;
                opacity: 100%;
                width: 100%;
                backface-visibility: hidden;
                perspective: 1rem;

                &:hover {
                    transform: rotateY(180deg);
                }
            }

            .seccion3__disenos__dorso img {
                width: 100%;
                position: absolute;
                top: 0;
            }

            p {
                padding-top: 0.5vw;
                font-weight: 300;
                text-align: center;
                color: $color-claro;
            }
        }
    }
}


/* DISEÑOS */

.main__disenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-azul;

    .disenos__galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        padding-top: 3vh;
        padding-bottom: 4vh;

        .disenos__titulo {
            font-size: 11vh;
            padding-bottom: 2vh;
            font-weight: 700;
            color: $color-claro;
            text-align: center;
            text-transform: uppercase;
        }

        .tituloseisnacionesysuperrugby {
            padding-top: 5vh;
        }


        .disenos__galeria__equipos {
            display: flex;
            flex-wrap: wrap;

            .foto1 {
                width: 25%;
                padding: 1vh;

                img {
                    width: 100%;
                }
            }
        }
    }
}


/* SOBRE MÍ*/

.main__sobremi {
    background-image: url(./imagenes/yofondo);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 58vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobremi__contenedor {
    width: 95%;

    .biografia {
        padding-top: 3vh;
        width: 60%;
        padding-bottom: 4vh;

        h2 {
            color: $color-claro;
            font-size: 20px;
            font-weight: 300;
        }

        #minombre {
            padding-bottom: 2vh;
            font-weight: 700;
            color: $color-claro;
            text-align: left;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            font-family: 'open sans', sans-serif;
            color: white;
            text-align: justify;
            line-height: 17px;
            padding-top: 5px
        }

        .parrafo__texto {
            margin-right: 2vw;
        }

        .parrafo2 {
            padding-top: 1vw;
            display: flex;
            justify-content: space-between;

            img {
                padding-top: 3vw;
                width: 20vw;
            }
        }

        .parrafo3 {
            @extend .parrafo2;

            img {
                padding-top: 3vw;
                width: 20vw;
            }
        }

        .parrafo4 {
            @extend .parrafo2;

            img {
                padding-top: 3vw;
                width: 20vw;
            }
        }
    }
}

/* FAQS */

.faqs__main {
    height: auto;
    background-color: $color-azul;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.faqs__programas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding-top: 7vh;

    .faqs__programas__texto {
        width: 60%;

        p {
            font-size: 16px;
            font-weight: 300;
            font-family: 'open sans';
            color: white;
            text-align: justify;
            line-height: 17px;
        }
    }
}

.faqs__programas__contenedor {
    display: flex;
    justify-content: space-between;
    width: 27vw;
    padding-left: 2vw;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-azul-oscuro;
        width: 12vw;
        height: 15vw;
        border-radius: 10px;

        img {
            width: 8vw;
        }

        p {
            padding-top: 1vw;
            font-weight: 300;
            text-align: center;
            color: $color-claro;
        }
    }
}


.faqs__contenedor {
    padding-top: 2vh;
    display: block;
    width: 95%;
    padding-bottom: 2vw;

    .faqs__titulo {
        padding-bottom: 2vh;
        font-weight: 700;
        color: $color-claro;
        text-align: left;
        text-transform: uppercase;
    }

    .card {
        background-color: $color-azul-oscuro;

        .btn-link {
            color: $color-claro;
        }

        .card-body {
            font-size: 16px;
            font-weight: 300;
            font-family: 'open sans';
            color: white;
            text-align: justify;
            line-height: 17px;
        }
    }
}

/* CONTACTO */

.contacto__main {
    display: flex;
    justify-content: space-between;

    .formulario {
        padding-left: 2.5vw;
        padding-top: 4vh;
        width: 45%;
        display: flex;
        flex-direction: column;

        h1 {
            font-weight: 700;
            color: $color-claro;
            text-align: left;
            text-transform: uppercase;
        }
    }

    form {
        width: 100%;

        label {
            color: $color-claro;
            font-size: 2.5vh;
            font-weight: 300;
            margin-bottom: 0;
        }

        input[type=text] {
            width: 100%;
            margin: 8px 0px;
            box-sizing: border-box;
        }

        textarea {
            width: 100%;
            padding: 12px 4px;
            margin: 8px 0px;
            box-sizing: border-box;
            resize: none;
        }

        .boton {
            background-color: $color-claro;
            color: #02243c;
            display: inline-block;
            padding: 6px 12px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: $color-verde;
            }
        }
    }

    .contacto__fondo {
        overflow: hidden;
        width: 50%;
        height: 84vh;

        img {
            width: 100%;
        }
    }
}


// MEDIA QUERY

$vista: tablet;

@if $vista ==tablet {
    @media only screen and (max-width:768px) {
        h1 {
            font-size: 7vh
        }

    }
}

@media screen and (max-width: 768px) {
    main {
        padding-top: 6.6vh;
        padding-bottom: 6vh;
    }


    /* FOOTER */

    footer img {
        width: 5vw;
    }

    /* INDEX */

    .carousel-item {
        a {width: 100%;
            content: url(./imagenes/slidermob1.jpg);
        }

    }

    .a {
        a {width: 100%;
            content: url(./imagenes/slidermobile2.jpg);
        }
    }

    .b {
        a {width: 100%;
            content: url(./imagenes/slidermobile3.jpg);
        }

    }

    .seccion4 {
        height: auto;

        .seccion4__grilla {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-areas:
                "ligainglesa"
                "ligafrancesa"
                "superrugby";
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(3, 1fr);
            ;
            align-content: stretch;
            gap: 10px;
            padding-top: 4vh;
            margin: 0;

            .superrugby {

                a {
                    width: 100%;
                    content: url(./imagenes/superrugby.jpg);
                }
            }
        }
    }

    .seccion2 article {
        display: flex;
        flex-direction: column;
        align-items: center;

        .seccion2__titulo {
            font-size: 7vh;
            width: 85%;
            text-align: center;
        }

        p {
            font-size: 16px;
            width: 85%;
            padding-right: 0;
            padding-top: 1vh;
            float: none;
        }
    }

    .seccion3 {
        padding-top: 5vh;
        padding-bottom: 2vh;

        .seccion3__titulo {
            font-size: 7vh;
            width: 85%;
            padding-left: 0;
            line-height: 1.1;
        }

        .seccion3__contenedor {
            width: 85%;
            margin-top: 2vh;
            display: inline;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;

            .seccion3__disenos {
                width: 48%;
                height: auto;
                display: inline-block;
            }
        }
    }


    /* DISENOS */

    .main__disenos {

        .disenos__galeria {

            .disenos__titulo {
                font-size: 7vh;

            }

            .disenos__galeria__equipos {

                .foto1 {
                    width: 50%;
                    padding: 1vh;
                }
            }
        }
    }


    // SOBRE MI

    .main__sobremi {
        background-image: none;
    }

    .sobremi__contenedor {
        width: 85%;

        .biografia {
            width: 100%;

            #minombre {
                text-align: center;
            }

            .parrafo__texto {
                margin-right: 0;
            }

            h2 {
                padding-top: 2vh;
                text-align: center;
            }

            .parrafo2 {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 60vw;
                }
            }

            .parrafo3 {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 50vw;
                }
            }

            .parrafo4 {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 50vw;
                }
            }
        }
    }

    // FAQS

    .faqs__main {

        .faqs__programas {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 85%;
            padding-top: 7vh;

            .faqs__programas__texto {
                width: 100%;
            }
        }

        .faqs__programas__contenedor {
            width: 80%;
            padding-left: 0;

            div {
                width: 30vw;
                height: 25vh;

                img {
                    padding-top: 2vh;
                    width: 60%;
                }
            }
        }


        .faqs__contenedor {

            .faqs__titulo {
                text-align: center;
            }
        }
    }


    /* CONTACTO */

    .contacto__main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .formulario {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-top: 4vh;
            padding-bottom: 4vh;
            width: 85%;


        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .boton {
                margin-top: 1vh;
            }
        }

        .contacto__fondo {
            width: 50%;
            height: 30vh;

            img {
                width: 100%;
            }
        }
    }
}

$vista: mobile;

@if $vista ==mobile {
    @media only screen and (max-width:480px) {
        h1 {
            font-size: 5vh;
        }

    }
}


@media screen and (max-width: 480px) {


    .navbar-light .navbar-brand {
        padding-left: 0;
    }

    .main__disenos {

        .disenos__galeria {
            font-size: 5vh;

            .disenos__galeria__equipos {
                display: inline;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;


                .foto1 {
                    width: 100%;
                    display: inline-block;
                }
            }
        }
    }
}