/* reseteo */
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

}

main {
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: #02243c;

}

body {
    position: relative;
    min-height: 100vh;

}


/* HEADER */

header {
    position: fixed;
    width: 100vw;
    background-color: #011a2c;
    z-index: 100;

}


.navbar-light .navbar-brand {
    padding-left: 1rem;
    color: #dfddbe;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.navbar-light .navbar-brand:hover {
    color: #dfddbe;

}


.navbar-light .navbar-nav .active .nav-link {
    color: white;
    font-weight: 700;

}

.navbar-light .navbar-nav .nav-link {
    font-weight: 300;
    color: #dfddbe;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #50b298;
}

.navbar-light .navbar-toggler {
    color: #dfddbe;
    border-color: #dfddbe;
}

.ml {
    padding-right: 1rem;
    margin-left: auto;
}

/* FOOTER */

footer {
    background-color: #011a2c;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    bottom: 0;
    position: absolute;
    width: 100%;


}


footer p {
    margin: 0%;
    font-size: 12px;
    color: #dfddbe;
    padding-left: 25px;
}


.redes {
    padding-right: 25px;
}


footer img {
    width: 1.5vw;

}

footer a {
    text-decoration: none;
}


#twitter {
    margin-right: 10px;
}


/* INDEX */

.index__main {
    padding-top: 0;
}


/* SECCION 4  */





.seccion4 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.seccion4__grilla {
    width: 95%;

    display: grid;
    grid-template-areas:
        "ligainglesa superrugby"
        "ligafrancesa superrugby";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20vw);
    margin-top: 6vh;
    margin-bottom: 5vh;
    align-content: center;
    justify-content: center;
    gap: 20px;

}

.seccion4__grilla div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;




}

.seccion4__grilla div img:hover {
    width: 104%;
    height: 104%;




}


.ligainglesa {
    overflow: hidden;
    background-color: red;
    grid-area: ligainglesa;
}




.ligafrancesa {
    overflow: hidden;
    background-color: green;
    grid-area: ligafrancesa;
}



.superrugby {
    overflow: hidden;
    background-color: yellow;
    grid-area: superrugby;
}



/* SECCION 2 */

.seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;

}

.seccion2 article {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}

.seccion2__titulo {
    width: 50%;
    float: left;
    font-weight: 700;
    color: #dfddbe;
    font-size: 6vw;
    line-height: 1.1;
    text-transform: uppercase;
}

.seccion2 p {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'open sans', sans-serif;
    color: white;
    text-align: justify;
    width: 45%;
    float: right;
}

.seccion2__fondo {
    width: 100%;


}

.seccion2__fondo img {
    width: 100%;
}


.seccion3 {
    background-color: #02243c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 4vh;
}

.seccion3__titulo {
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
    color: #dfddbe;
    text-transform: uppercase;
}

.seccion3__contenedor {
    width: 95%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;


}

.seccion3__disenos {
    position: relative;
    overflow: hidden;
    width: 22vw;


}

.seccion3__disenos__frente {
    transition: 1s all ease-in-out;
    position: relative;
    opacity: 100%;
    width: 100%;
    backface-visibility: hidden;
    perspective: 1rem;

}


.seccion3__disenos__dorso img {
    width: 100%;
    position: absolute;
    top: 0;
}

.seccion3__disenos__frente:hover {
    transform: rotateY(180deg);


}

.seccion3__disenos p {
    padding-top: 0.5vw;
    font-weight: 300;
    text-align: center;
    color: #dfddbe;
}





/* DISEÑOS */



.main__disenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #02243c;

}

.disenos__contenedorgrilla {
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #02243c;
}

.disenos__grilla1 {
    display: grid;
    grid-template-areas:
        'foto1 foto2 foto2 foto3'
        'foto1 foto2 foto2 foto3'
        'foto4 foto5 foto5 foto6'
        'foto4 foto5 foto5 foto6'
        'foto7 foto8 foto8 foto9'
        'foto7 foto8 foto8 foto9';

    grid-template-columns: repeat(4, auto);
    gap: 10px;

}



.disenos__grilla1 div img {
    opacity: 90%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s all ease-in-out;
}

.disenos__grilla1 div img:hover {
    opacity: 100%;
    transform: scale(1.1);

}

.foto1 {
    overflow: hidden;
    grid-area: foto1;

}

.foto2 {
    overflow: hidden;
    grid-area: foto2;
}

.foto3 {
    overflow: hidden;
    grid-area: foto3;
}

.foto4 {
    overflow: hidden;
    grid-area: foto4;
}

.foto5 {
    overflow: hidden;
    grid-area: foto5;
}

.foto6 {
    overflow: hidden;
    grid-area: foto6;
}

.foto7 {
    overflow: hidden;
    grid-area: foto7;
}

.foto8 {
    overflow: hidden;
    grid-area: foto8;
}

.foto9 {
    overflow: hidden;
    grid-area: foto9;
}


.disenos__grilla2 {
    display: grid;
    grid-template-areas:
        'foto10 foto11 foto11 foto12'
        'foto10 foto11 foto11 foto12'
        'foto13 foto14 foto14 foto15'
        'foto13 foto14 foto14 foto15'
        'foto16 foto17 foto17 foto18'
        'foto16 foto17 foto17 foto18';


    grid-template-columns: repeat(4, auto);
    gap: 10px;

}



.disenos__grilla2 div img {
    opacity: 90%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.disenos__grilla2 div img:hover {
    opacity: 100%;
    transform: scale(1.1);

}

.foto10 {
    overflow: hidden;
    grid-area: foto10;
}

.foto12 {
    overflow: hidden;
    grid-area: foto12;
}

.foto11 {
    overflow: hidden;
    grid-area: foto11;
}

.foto13 {
    overflow: hidden;
    grid-area: foto13;
}

.foto14 {
    overflow: hidden;
    grid-area: foto14;
}

.foto15 {
    overflow: hidden;
    grid-area: foto15;
}

.foto16 {
    grid-area: foto16;
}

.foto17 {
    overflow: hidden;
    grid-area: foto17;
}

.foto18 {
    overflow: hidden;
    grid-area: foto18;
}

.disenos__titulo {
    padding-bottom: 2vh;
    font-weight: 700;
    color: #dfddbe;
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
}


/* SOBRE MÍ*/


.main__sobremi {
    background-image: url(./imagenes/yofondo);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 58vw;
    display: flex;
    flex-direction: column;
    align-items: center;



}


.biografia {
    padding-top: 3vh;
    width: 95%;


}


.biografia h2 {
    color: #dfddbe;
    font-size: 20px;
    font-weight: 300;
}

#minombre {
    padding-bottom: 2vh;
    font-weight: 700;
    color: #dfddbe;
    text-align: left;
    font-size: 6vw;
    text-transform: uppercase;

}

.biografia p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'open sans', sans-serif;
    color: white;
    text-align: justify;
    line-height: 17px;
    padding-top: 5px
}

.texto {
    width: 60%;
    padding-top: 1vw;
}

.parrafo2 {
    display: flex;
    justify-content: space-between;
}

.parrafo2__texto {
    width: 60%;
    margin-right: 2vw;
}

.parrafo2 img {
    padding-top: 3vw;
    width: 20vw;
}


.parrafo3 {
    display: flex;
    justify-content: space-between;
}

.parrafo3__texto {
    width: 60%;
    margin-right: 2vw;
}


.parrafo3 img {
    padding-top: 3vw;
    width: 20vw;
}


.parrafo4 {
    display: flex;
    justify-content: space-between;
}

.parrafo4__texto {
    width: 60%;
    margin-right: 2vw;
}


.parrafo4 img {
    padding-top: 3vw;
    width: 20vw;
}

/* FAQS */

.faqs__main {
    height: auto;
    background-color: #02243c;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.faqs__programas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding-top: 7vh;
}

.faqs__programas__contenedor {
    display: flex;
    justify-content: space-between;
    width: 27vw;
    padding-left: 2vw;
}

.faqs__programas__contenedor div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #011a2c;
    width: 12vw;
    height: 15vw;
    border-radius: 10px;
}

.faqs__programas img {
    width: 8vw;
}

.faqs__programas__texto {
    width: 60%;
}

.faqs__programas__texto p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'open sans';
    color: white;
    text-align: justify;
    line-height: 17px;
}

.faqs__programas__contenedor p {
    padding-top: 1vw;
    font-weight: 300;
    text-align: center;
    color: #bedfd1;
}


.faqs__titulo {
    padding-bottom: 2vh;
    font-weight: 700;
    color: #dfddbe;
    text-align: left;
    font-size: 6vw;
    text-transform: uppercase;

}



.faqs__contenedor {
    padding-top: 2vh;
    display: block;
    width: 95%;
    padding-bottom: 2vw;
}


.card {
    background-color: #011a2c;
}

.btn-link {
    color: #dfddbe;
}

.card-body {
    color: white;
}

/* CONTACTO */

.contacto__main {
    height: auto;
    background-image: url(./imagenes/fondocontacto.jpg);
    background-size: cover;
    background-position: -222px;
    display: flex;
    flex-direction: column;

}

.formulario {
    padding-left: 2.5vw;
    padding-top: 4vh;
    width: 40%;
    display: flex;
    flex-direction: column;


}

.formulario h2 {
    font-weight: 700;
    color: #dfddbe;
    text-align: left;
    font-size: 6vw;
    text-transform: uppercase;
}

form {
    width: 100%;
}

form label {
    color: #dfddbe;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;

}



input[type=text] {
    width: 100%;

    margin: 8px 0px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 4px;
    margin: 8px 0px;
    box-sizing: border-box;
    resize: none;
}

.boton {
    background-color: #dfddbe;
    color: #02243c;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #50b298
}



@media screen and (max-width: 768px) {
    main {
        padding-top: 6.6vh;
        padding-bottom: 10vh;
        background-color: #02243c;
        padding-bottom: 6vh;
    }


    /* FOOTER */

    footer {
        background-color: #011a2c;
        display: flex;
        justify-content: space-between;
        height: 8vh;
        align-items: center;
        bottom: 0;
        position: absolute;
        width: 100%;


    }


    footer p {
        margin: 0%;
        font-size: 12px;
        color: #dfddbe;
        padding-left: 25px;
    }


    .redes {
        padding-right: 25px;
    }


    footer img {
        width: 5vw;

    }

    footer a {
        text-decoration: none;
    }


    #twitter {
        margin-right: 10px;
    }


    /* INDEX */

    .carousel-item {
        content: url(./imagenes/slidermob1.jpg);
    }

    .a {
        content: url(./imagenes/slidermob1.jpg);
    }



    .seccion4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

    }


    .seccion4__grilla {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
            "ligainglesa"
            "ligafrancesa"
            "superrugby";
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, 1fr);
        ;
        align-content: stretch;
        gap: 10px;
        padding-top: 4vh;
        margin: 0;

    }


    .superrugby {
        overflow: hidden;
        background-color: yellow;
        grid-area: superrugby;
        content: url(./imagenes/superrugby.jpg);
        width: 100%;

    }




    .seccion2 article {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .seccion2__titulo {
        width: 85%;
        text-align: center;
        font-weight: 700;
        color: #dfddbe;

        font-size: 5vh;
        line-height: 1.1;
        text-transform: uppercase;
    }


    .seccion2 p {
        font-size: 16px;
        font-weight: 300;
        font-family: 'open sans';
        color: white;
        text-align: justify;
        width: 85%;
        padding-right: 0;
        padding-top: 1vh;
        float: none;
    }

    .seccion3 {
        background-color: #02243c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }

    .seccion3__titulo {
        width: 85%;
        text-align: center;
        font-weight: 700;
        color: #dfddbe;
        padding-left: 0;
        font-size: 45px;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .seccion3__contenedor {
        width: 85%;
        margin-top: 2vh;
        display: inline;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;


    }

    .seccion3__disenos {
        position: relative;
        overflow: hidden;
        width: 48%;
        height: auto;
        display: inline-block;
    }

    .seccion3__disenos__frente {
        transition: 1s all ease-in-out;
        position: relative;
        opacity: 100%;
        width: 100%;
        backface-visibility: hidden;
        perspective: 1rem;

    }


    .seccion3__disenos__dorso img {
        width: 100%;
        position: absolute;
        top: 0;
    }

    .seccion3__disenos__frente:hover {
        transform: rotateY(180deg);


    }

    .seccion3__disenos p {
        padding-top: 0.5vw;
        font-weight: 300;
        text-align: center;
        color: #dfddbe;
    }

    /* DISENOS */


    .disenos__contenedorgrilla {
        padding-top: 4vh;
        display: flex;
        flex-direction: column;
        width: 95%;
        background-color: #02243c;
    }

    .disenos__grilla1 {
        display: grid;
        grid-template-areas:
            'foto1'
            'foto2'
            'foto3'
            'foto4'
            'foto5'
            'foto6'
            'foto7'
            'foto8'
            'foto9';


        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }


    .disenos__grilla1 div img {
        opacity: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s all ease-in-out;
    }


    .disenos__grilla2 {
        display: grid;
        grid-template-areas:
            'foto10'
            'foto11'
            'foto12'
            'foto13'
            'foto14'
            'foto15'
            'foto16'
            'foto17'
            'foto18';


        grid-template-columns: repeat(1, auto);
        gap: 10px;

    }


    .disenos__grilla2 div img {
        opacity: 100%;

    }

    .disenos__titulo {
        padding-bottom: 2vh;
        font-weight: 700;
        color: #dfddbe;
        text-align: center;
        font-size: 5vh;
        text-transform: uppercase;
    }











}