@charset "UTF-8";
/* reseteo */
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

main {
  padding-top: 8vh;
  padding-bottom: 8vh;
  background-color: #02243c; }

body {
  position: relative;
  min-height: 100vh; }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 11vh; } }

/* HEADER */
header {
  position: fixed;
  width: 100vw;
  background-color: #011a2c;
  z-index: 100; }
  header .navbar-light .navbar-brand {
    color: #dfddbe;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
    header .navbar-light .navbar-brand:hover {
      color: #dfddbe; }
  header .navbar-light .navbar-nav .active .nav-link {
    color: white;
    font-weight: 700; }
  header .navbar-light .navbar-nav .nav-link {
    font-weight: 300;
    color: #dfddbe; }
    header .navbar-light .navbar-nav .nav-link:hover {
      color: #50b298; }
  header .navbar-light .ml {
    margin-left: auto; }
  header .navbar-light .navbar-toggler {
    color: #dfddbe;
    border-color: #dfddbe; }
    header .navbar-light .navbar-toggler .navbar-toggler-icon {
      background-image: url(./imagenes/hamburguesa.svg); }

/* FOOTER */
footer {
  background-color: #011a2c;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  bottom: 0;
  position: absolute;
  width: 100%; }
  footer p {
    margin: 0;
    font-size: 12px;
    color: #dfddbe;
    padding-left: 25px; }
  footer .redes {
    padding-right: 25px; }
    footer .redes img {
      width: 20px; }
    footer .redes a {
      text-decoration: none; }
      footer .redes a #twitter {
        margin-right: 10px; }

/* INDEX */
.index__main {
  padding-top: 0; }

/* SECCION 4  */
.ligainglesa {
  border-style: solid; }

.ligafrancesa {
  border-style: dotted; }

.superrugby {
  border-style: double; }

.seccion4 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .seccion4 .seccion4__grilla {
    width: 95%;
    display: grid;
    grid-template-areas: "ligainglesa superrugby" "ligafrancesa superrugby";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20vw);
    margin-top: 6vh;
    margin-bottom: 5vh;
    align-content: center;
    justify-content: center;
    gap: 20px; }
    .seccion4 .seccion4__grilla .ligainglesa {
      border-width: 3px;
      border-color: #dfddbe;
      overflow: hidden;
      grid-area: ligainglesa; }
      .seccion4 .seccion4__grilla .ligainglesa .seccion4__imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s all ease-in-out; }
        .seccion4 .seccion4__grilla .ligainglesa .seccion4__imagen:hover {
          width: 104%;
          height: 104%; }
    .seccion4 .seccion4__grilla .ligafrancesa {
      border-width: 3px;
      border-color: #dfddbe;
      overflow: hidden;
      grid-area: ligafrancesa; }
      .seccion4 .seccion4__grilla .ligafrancesa img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s all ease-in-out; }
        .seccion4 .seccion4__grilla .ligafrancesa img:hover {
          width: 104%;
          height: 104%; }
    .seccion4 .seccion4__grilla .superrugby {
      border-width: 3px;
      border-color: #dfddbe;
      overflow: hidden;
      grid-area: superrugby; }
      .seccion4 .seccion4__grilla .superrugby img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s all ease-in-out; }
        .seccion4 .seccion4__grilla .superrugby img:hover {
          width: 104%;
          height: 104%; }

/* SECCION 2 */
.seccion2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4vh; }
  .seccion2 article {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh; }
    .seccion2 article .seccion2__titulo {
      width: 50%;
      float: left;
      font-weight: 700;
      color: #dfddbe;
      line-height: 1.1;
      text-transform: uppercase; }
    .seccion2 article p {
      font-size: 1rem;
      font-weight: 300;
      color: white;
      font-family: 'open sans', sans-serif;
      text-align: justify;
      width: 45%;
      float: right; }
  .seccion2 .seccion2__fondo {
    width: 100%; }
    .seccion2 .seccion2__fondo img {
      width: 100%; }

.seccion3__titulo {
  text-align: center;
  font-weight: 700; }

.seccion3 {
  background-color: #02243c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 4vh; }
  .seccion3 .seccion3__titulo {
    color: #dfddbe;
    text-transform: uppercase; }
  .seccion3 .seccion3__contenedor {
    width: 95%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between; }
    .seccion3 .seccion3__contenedor .seccion3__disenos {
      position: relative;
      overflow: hidden;
      width: 22vw; }
      .seccion3 .seccion3__contenedor .seccion3__disenos .seccion3__disenos__frente {
        transition: 1s all ease-in-out;
        position: relative;
        opacity: 100%;
        width: 100%;
        backface-visibility: hidden;
        perspective: 1rem; }
        .seccion3 .seccion3__contenedor .seccion3__disenos .seccion3__disenos__frente:hover {
          transform: rotateY(180deg); }
      .seccion3 .seccion3__contenedor .seccion3__disenos .seccion3__disenos__dorso img {
        width: 100%;
        position: absolute;
        top: 0; }
      .seccion3 .seccion3__contenedor .seccion3__disenos p {
        padding-top: 0.5vw;
        font-weight: 300;
        text-align: center;
        color: #dfddbe; }

/* DISEÑOS */
.main__disenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #02243c; }
  .main__disenos .disenos__galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding-top: 3vh;
    padding-bottom: 4vh; }
    .main__disenos .disenos__galeria .disenos__titulo {
      padding-bottom: 2vh;
      font-weight: 700;
      color: #dfddbe;
      text-align: center;
      text-transform: uppercase; }
    .main__disenos .disenos__galeria .tituloseisnacionesysuperrugby {
      padding-top: 5vh; }
    .main__disenos .disenos__galeria .disenos__galeria__equipos {
      display: flex;
      flex-wrap: wrap; }
      .main__disenos .disenos__galeria .disenos__galeria__equipos .foto1 {
        width: 25%;
        padding: 1vh; }
        .main__disenos .disenos__galeria .disenos__galeria__equipos .foto1 img {
          width: 100%; }

/* SOBRE MÍ*/
.main__sobremi {
  background-image: url(./imagenes/yofondo);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 58vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sobremi__contenedor {
  width: 95%; }
  .sobremi__contenedor .biografia {
    padding-top: 3vh;
    width: 60%;
    padding-bottom: 4vh; }
    .sobremi__contenedor .biografia h2 {
      color: #dfddbe;
      font-size: 20px;
      font-weight: 300; }
    .sobremi__contenedor .biografia #minombre {
      padding-bottom: 2vh;
      font-weight: 700;
      color: #dfddbe;
      text-align: left;
      text-transform: uppercase; }
    .sobremi__contenedor .biografia p {
      font-size: 16px;
      font-weight: 300;
      font-family: 'open sans', sans-serif;
      color: white;
      text-align: justify;
      line-height: 17px;
      padding-top: 5px; }
    .sobremi__contenedor .biografia .parrafo__texto {
      margin-right: 2vw; }
    .sobremi__contenedor .biografia .parrafo2, .sobremi__contenedor .biografia .parrafo3, .sobremi__contenedor .biografia .parrafo4 {
      padding-top: 1vw;
      display: flex;
      justify-content: space-between; }
      .sobremi__contenedor .biografia .parrafo2 img, .sobremi__contenedor .biografia .parrafo3 img, .sobremi__contenedor .biografia .parrafo4 img {
        padding-top: 3vw;
        width: 20vw; }
    .sobremi__contenedor .biografia .parrafo3 img {
      padding-top: 3vw;
      width: 20vw; }
    .sobremi__contenedor .biografia .parrafo4 img {
      padding-top: 3vw;
      width: 20vw; }

/* FAQS */
.faqs__main {
  height: auto;
  background-color: #02243c;
  display: flex;
  flex-direction: column;
  align-items: center; }

.faqs__programas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  padding-top: 7vh; }
  .faqs__programas .faqs__programas__texto {
    width: 60%; }
    .faqs__programas .faqs__programas__texto p {
      font-size: 16px;
      font-weight: 300;
      font-family: 'open sans';
      color: white;
      text-align: justify;
      line-height: 17px; }

.faqs__programas__contenedor {
  display: flex;
  justify-content: space-between;
  width: 27vw;
  padding-left: 2vw; }
  .faqs__programas__contenedor div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #011a2c;
    width: 12vw;
    height: 15vw;
    border-radius: 10px; }
    .faqs__programas__contenedor div img {
      width: 8vw; }
    .faqs__programas__contenedor div p {
      padding-top: 1vw;
      font-weight: 300;
      text-align: center;
      color: #dfddbe; }

.faqs__contenedor {
  padding-top: 2vh;
  display: block;
  width: 95%;
  padding-bottom: 2vw; }
  .faqs__contenedor .faqs__titulo {
    padding-bottom: 2vh;
    font-weight: 700;
    color: #dfddbe;
    text-align: left;
    text-transform: uppercase; }
  .faqs__contenedor .card {
    background-color: #011a2c; }
    .faqs__contenedor .card .btn-link {
      color: #dfddbe; }
    .faqs__contenedor .card .card-body {
      font-size: 16px;
      font-weight: 300;
      font-family: 'open sans';
      color: white;
      text-align: justify;
      line-height: 17px; }

/* CONTACTO */
.contacto__main {
  display: flex;
  justify-content: space-between; }
  .contacto__main .formulario {
    padding-left: 2.5vw;
    padding-top: 4vh;
    width: 45%;
    display: flex;
    flex-direction: column; }
    .contacto__main .formulario h1 {
      font-weight: 700;
      color: #dfddbe;
      text-align: left;
      text-transform: uppercase; }
  .contacto__main form {
    width: 100%; }
    .contacto__main form label {
      color: #dfddbe;
      font-size: 2.5vh;
      font-weight: 300;
      margin-bottom: 0; }
    .contacto__main form input[type=text] {
      width: 100%;
      margin: 8px 0px;
      box-sizing: border-box; }
    .contacto__main form textarea {
      width: 100%;
      padding: 12px 4px;
      margin: 8px 0px;
      box-sizing: border-box;
      resize: none; }
    .contacto__main form .boton {
      background-color: #dfddbe;
      color: #02243c;
      display: inline-block;
      padding: 6px 12px;
      border-radius: 5px;
      cursor: pointer; }
      .contacto__main form .boton:hover {
        background-color: #50b298; }
  .contacto__main .contacto__fondo {
    overflow: hidden;
    width: 50%;
    height: 84vh; }
    .contacto__main .contacto__fondo img {
      width: 100%; }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 7vh; } }

@media screen and (max-width: 768px) {
  main {
    padding-top: 6.6vh;
    padding-bottom: 6vh; }
  /* FOOTER */
  footer img {
    width: 5vw; }
  /* INDEX */
  .carousel-item {
    content: url(./imagenes/slidermob1.jpg); }
  .a {
    content: url(./imagenes/slidermobile2.jpg); }
  .b {
    content: url(./imagenes/slidermobile3.jpg); }
  .seccion4 {
    height: auto; }
    .seccion4 .seccion4__grilla {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-areas: "ligainglesa" "ligafrancesa" "superrugby";
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(3, 1fr);
      align-content: stretch;
      gap: 10px;
      padding-top: 4vh;
      margin: 0; }
      .seccion4 .seccion4__grilla .superrugby {
        overflow: hidden;
        grid-area: superrugby;
        content: url(./imagenes/superrugby.jpg);
        width: 100%; }
  .seccion2 article {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .seccion2 article .seccion2__titulo {
      width: 85%;
      text-align: center; }
    .seccion2 article p {
      font-size: 16px;
      width: 85%;
      padding-right: 0;
      padding-top: 1vh;
      float: none; }
  .seccion3 {
    padding-top: 5vh;
    padding-bottom: 2vh; }
    .seccion3 .seccion3__titulo {
      width: 85%;
      padding-left: 0;
      line-height: 1.1; }
    .seccion3 .seccion3__contenedor {
      width: 85%;
      margin-top: 2vh;
      display: inline;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap; }
      .seccion3 .seccion3__contenedor .seccion3__disenos {
        width: 48%;
        height: auto;
        display: inline-block; }
  /* DISENOS */
  .main__disenos .disenos__galeria .disenos__galeria__equipos .foto1 {
    width: 50%;
    padding: 1vh; }
  .main__sobremi {
    background-image: none; }
  .sobremi__contenedor {
    width: 85%; }
    .sobremi__contenedor .biografia {
      width: 100%; }
      .sobremi__contenedor .biografia #minombre {
        text-align: center; }
      .sobremi__contenedor .biografia .parrafo__texto {
        margin-right: 0; }
      .sobremi__contenedor .biografia h2 {
        padding-top: 2vh;
        text-align: center; }
      .sobremi__contenedor .biografia .parrafo2, .sobremi__contenedor .biografia .parrafo3, .sobremi__contenedor .biografia .parrafo4 {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .sobremi__contenedor .biografia .parrafo2 img, .sobremi__contenedor .biografia .parrafo3 img, .sobremi__contenedor .biografia .parrafo4 img {
          width: 60vw; }
      .sobremi__contenedor .biografia .parrafo3 {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .sobremi__contenedor .biografia .parrafo3 img {
          width: 50vw; }
      .sobremi__contenedor .biografia .parrafo4 {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .sobremi__contenedor .biografia .parrafo4 img {
          width: 50vw; }
  .faqs__main .faqs__programas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding-top: 7vh; }
    .faqs__main .faqs__programas .faqs__programas__texto {
      width: 100%; }
  .faqs__main .faqs__programas__contenedor {
    width: 80%;
    padding-left: 0; }
    .faqs__main .faqs__programas__contenedor div {
      width: 30vw;
      height: 25vh; }
      .faqs__main .faqs__programas__contenedor div img {
        padding-top: 2vh;
        width: 60%; }
  .faqs__main .faqs__contenedor .faqs__titulo {
    text-align: center; }
  /* CONTACTO */
  .contacto__main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto__main .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-top: 4vh;
      padding-bottom: 4vh;
      width: 85%; }
    .contacto__main form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .contacto__main form .boton {
        margin-top: 1vh; }
    .contacto__main .contacto__fondo {
      width: 50%;
      height: 30vh; }
      .contacto__main .contacto__fondo img {
        width: 100%; } }

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 5vh; } }

@media screen and (max-width: 480px) {
  .navbar-light .navbar-brand {
    padding-left: 0; }
  .main__disenos .disenos__galeria .disenos__galeria__equipos {
    display: inline;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    .main__disenos .disenos__galeria .disenos__galeria__equipos .foto1 {
      width: 100%;
      display: inline-block; } }
